<p>Dragon Ball Z</p>
<hr>

<div class="row">
    <div class="col">
        <app-personajes></app-personajes>
        <!-- <app-personajes [personajes]="personajes"></app-personajes> -->
    </div>
    <div class="col">
        <app-agregar 
        [nuevo]="nuevo"
         ></app-agregar>

         <!-- (onNuevoPersonaje)="agregarNuevoPersonaje($event)" Este evento ya no existe cuando estamos refactorizando con el servicio-->
    </div>
</div>
<!-- [value]="nuevo.nombre" 
    (input)="cambiarNombre($event)" -->